.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2rem;

}

.rightSection img {
    width: 60%;
    margin: 30px;
}

.rightSection a img:hover {
    width: 60.5%;
}